/* Hero Section Container */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background-color: #abcad7;
  }
  .text-light{
    padding-left: 5rem;
  }
  .btn{
    margin-left: 5rem;
  }
.carousel-inner{
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 420px;
  padding-top: 48px;
}
.carousel-control-prev{
  background-color: black;
  margin: 9rem 0rem 8rem 0rem;
  opacity: .6;
}
.carousel-control-next{
  background-color: black;
  margin: 9rem 0rem 8rem 0rem;
  opacity: .6;
}
  .hero-content {
    flex: 1;
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .hero-content p {
    font-size: 1.5rem;
    color: #777;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 3rem;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  /* Hero Image Styles */
  .hero-image img {
    max-width: 100%;
    height: auto;
  }
  